ul {
  padding-left: 0;
  width: 45%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;

  padding: 0.2rem;
  font-size: 1.4rem;
  list-style: none;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}
